<div class="container">
  <div class="row">
    <div class="col-8 plate">

      <div class="form-header">
        <h5>会員登録</h5>
      </div>
      <%= form_with model: @customer, url: customer_create_profile_path(@customer), local: true do |f| %>
        <div class="field">
          <%= f.label :"ショップ名" %><br />
          <%= f.text_field :shop_name, autofocus: true, style: "border: none", placeholder: "ショップ名", value: "#{@customer.customer_last_name}さんのショップ", class: "w-100" %>
        </div>

        <div class="field">
          <%= f.label :"ショップ説明" %><br />
          <%= f.text_area :shop_description, style: "border: none", placeholder: "ショップの説明文を入力してください。後でマイページから編集できます。", rows: "5", class: "w-100" %>
        </div>

        <div class="field">
          <%= f.label :"ショップ画像" %><br />
          <%= f.attachment_field :customer_image %>
        </div>

        <div class="field">
          <%= f.label :"ユーザー属性" %><span>＊必須＊</span><br>

          <%= f.select :customer_attribute, Customer.customer_attributes.keys.to_a , prompt: "--選択してください--" %>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-danger" %>
        </div>

      <% end %>


    </div>
  </div>
</div>