<div class="container">
  <div class="row">
    <div class="col-3 plate ">
      <div class="menu-list">
        <%= link_to "出品した商品 ", customer_product_index_path(@customer) %>
      </div>
      <% if @customer == current_customer %>
        <div class="menu-list">
          <%= link_to "いいねした商品", customer_likes_index_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "プロフィール", customer_show_profile_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "本人情報", edit_customer_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "#{ @customer.followings.count }フォロー中", customer_followings_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "#{ @customer.followers.count }フォロワー", customer_followers_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "オファーした商品", customer_offers_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "オファーされた商品", customer_offered_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "オファー成立商品(オファーした商品)", customer_orders_path(@customer) %>
        </div>
        <div class="menu-list">
          <%= link_to "オファー成立商品(オファーされた商品)",customer_ordered_path(@customer) %>
        </div>
      <% else %>
        <% if current_customer.following?(@customer) %>
          <div class="menu-list">
            <%= link_to "-Unfollow", customer_relationships_path(@customer.id), method: :delete %>
          </div>
        <% else %>
          <div class="menu-list">
            <%= link_to "+Follow", customer_relationships_path(@customer.id), method: :post %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-8 plate">
      <div class="mypage-profile">
        <%= attachment_image_tag @customer, :customer_image, size: "50x50", format: 'jpeg', fallback: 'no_image.jpg' ,class: "customer-image" %>
        <h5><%= @customer.shop_name %>さんのマイページ</h5>
        <p><%= @customer.shop_description %></p>
        <p>出品数:<%= @customer.products.count %>&nbsp;&nbsp;&nbsp;&nbsp;取引数:<%= @customer.orders.count %></p>
      </div>
      <div class="mypage-products">
        <% @customer.products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="products_block">
              <div class="products">
                <div class="products_image">
                  <%= attachment_image_tag product.product_images.first, :image, format: 'jpeg', fallback: 'no_image.jpg', class: "product_image" %>
                </div>
                <p class="products_name"><%= product.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
  <div class="product-registrate-btn">
    <%= link_to new_product_path do %>
      <p>出品</p>
      <i class="fas fa-camera"></i>
    <% end %>
  </div>
</div>





