<h1><%= @customer.shop_name %>さんのマイページ</h1>

<p><%= @customer.shop_description %></p>


<%= link_to "出品した商品", customer_product_index_path(@customer) %>
<% if @customer == current_customer %>
  <%= link_to "いいねした商品", customer_likes_index_path(@customer) %>
  <%= link_to "プロフィール", customer_show_profile_path(@customer) %>
  <%= link_to "本人情報", edit_customer_path(@customer) %>
  <%= link_to "#{ @customer.followings.count }フォロー中", customer_followings_path(@customer) %>
  <%= link_to "#{ @customer.followers.count }フォロワー", customer_followers_path(@customer) %>
  <%= link_to "オファーした商品", customer_offers_path(@customer) %>
  <%= link_to "オファーされた商品", customer_offered_path(@customer) %>
  <%= link_to "オファー成立商品(オファーした商品)", customer_orders_path(@customer) %>
  <%= link_to "オファー成立商品(オファーされた商品)",customer_ordered_path(@customer) %>

<% else %>
  <% if current_customer.following?(@customer) %>
      <%= link_to "-Unfollow", customer_relationships_path(@customer.id), method: :delete %>
  <% else %>
    <%= link_to "+Follow", customer_relationships_path(@customer.id), method: :post %>
  <% end %>
<% end %>
