<h1>商品情報編集</h1>
<%= form_with model: @product, local: true do |f| %>

  <%= attachment_image_tag @product.product_images[0], :image, format: 'jpeg', fallback: 'no_image.jpg', size: '250x250', class: "rounded" %>
  <% unless @product.product_images[0].nil? %>
    <%= link_to "削除", product_image_path(@product.id, @product.product_images[0].id), method: :delete %>
  <% end %>
  <%= attachment_image_tag @product.product_images[1], :image, format: 'jpeg', fallback: 'no_image.jpg', size: '250x250', class: "rounded" %>
  <% unless @product.product_images[1].nil? %>
    <%= link_to "削除", product_image_path(@product.id, @product.product_images[1].id), method: :delete %>
  <% end %>
  <%= attachment_image_tag @product.product_images[2], :image, format: 'jpeg', fallback: 'no_image.jpg', size: '250x250', class: "rounded" %>
  <% unless @product.product_images[2].nil? %>
    <%= link_to "削除", product_image_path(@product.id, @product.product_images[2].id), method: :delete %>
  <% end %>

  <h4>画像</h4>
  <%= f.attachment_field :product_images_images, multiple: true %>
  <p>アップしたい画像を全て添付してください。前に保存されていた画像は破棄されます。<br>
  Ctrlを押しながらクリックで複数追加できます。</p>
  <h4>商品名</h4>
  <%= f.text_field :name %>
  <h4>説明</h4>
  <%= f.text_area :description %>
  <%= f.submit '投稿' %>

<% end %>
<%= link_to "商品を削除する", product_path(@product), method: :delete, "data-confirm" => "本当に削除しますか？" %>