<div class="container">
  <div class="row">
    <div class="col-8 plate">

      <div class="mypage-profile">
        <%= attachment_image_tag @customer, :customer_image, size: "100x100", format: 'jpeg', fallback: 'no_image.jpg' ,class: "customer-image" %>
        <h5><%= @customer.shop_name %>さんのマイページ</h5>

        <p>出品数:<%= @customer.products.count %>&nbsp;&nbsp;&nbsp;&nbsp;取引数:<%= @customer.orders.count %></p>
      </div>
      <div class="mypage-products">
        <p><%= @customer.shop_description %></p>
        <% @customer.products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="products_block">
              <div class="products">
                <div class="products_image">
                  <%= attachment_image_tag product.product_images.first, :image, class: "product_image" %>
                </div>
                <p class="products_name"><%= product.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>


  </div>



    </div>
  </div>
</div>



<div class="container">

</div>



