<div class="container">
  <div class="product_details">
    <div class="product_name">
      <%= @product.name %>
    </div>
    <div class="product_image">
      <%= attachment_image_tag @product, :image1_id, format: 'jpeg', fallback: 'no_image.jpg', size: '250x250', class: "rounded" %>
    </div>
    <div class="product_description">
      <%= @product.description %>
    </div>

    <%= link_to customer_path(@product.customer.id) do %>
      <%= @product.customer.shop_name %>
    <% end %>

    <div id="likes_buttons" >
       <%= render partial: 'public/products/like', locals: {product: @product} %>
    </div>

    


  </div>





</div>