<h5>オファー画面</h5>
<h7></h7>
<%= form_with(model:[@product, @offer], local: true) do |f| %>
  <h5><%= @product.name %>へオファー</h5>
  <%= f.label :trade_product_id, "交換する商品" %>
  <%= f.collection_select :trade_product_id, @current_customer_product, :id, :name, prompt: "--選択してください--" %>
  <%= f.hidden_field :offer_product_id, value: @product.id %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.submit "オファーする" %>
<% end %>