<div class="container">
  <div class="row">
    <div class="col-8 plate">

      <div class="form-header">
        <h5>会員情報編集</h5>
      </div>
      <%= form_with model: @customer, url: admins_customer_path(@customer.id), local: true do |f| %>
        <div class="field">
          <%= f.label :"ショップ名" %><br />
          <%= f.text_field :shop_name, autofocus: true, style: "border: none", placeholder: "ショップ名", value: "#{@customer.customer_last_name}さんのショップ", class: "w-100" %>
        </div>

        <div class="field">
          <%= f.label :"ショップ説明" %><br />
          <%= f.text_area :shop_description, style: "border: none", placeholder: "ショップの説明文を入力してください。", rows: "5", class: "w-100" %>
        </div>

        <div class="field">
          <%= f.label :"ショップ画像" %><br />
          <%= f.attachment_field :customer_image %>
        </div>

        <div class="field">
          <%= f.label :"ユーザー属性" %><span>＊必須＊</span><br>

          <%= f.select :customer_attribute, Customer.customer_attributes.keys.to_a , prompt: "--選択してください--" %>
        </div>

        <%= f.label :"お名前" %>
        <div class="field">
          <%= f.text_field :customer_last_name, style: "border: none", placeholder: "(姓)" %>
        </div>

        <div class="field">
          <%= f.text_field :customer_first_name, style: "border: none", placeholder: "(名)" %>
        </div>
        <%= f.label :"お名前(カナ)" %>
        <div class="field">
          <%= f.text_field :customer_last_name_kane, style: "border: none", placeholder: "(姓カナ)" %>
        </div>

        <div class="field">
          <%= f.text_field :customer_first_name_kane, style: "border: none", placeholder: "(名カナ)" %>
        </div>

        <div class="field">
          <%= f.label :"郵便番号"%><br>
          <%= f.text_field :postcode, placeholder: "例）1234567" %>
        </div>

        <div class="field">
          <%= f.label :"住所"%><br>
          <%= f.text_field :address, placeholder: "例）東京都〇〇区〇〇町〇〇-〇〇-〇", class:" w-50" %>
        </div>

        <div class="field">
          <%= f.label :"電話番号" %><br>
          <%= f.text_field :phone_number, placeholder: "例）〇〇〇-〇〇〇-〇〇〇〇", class:" w-50" %>
        </div>

        <div class="field">
          <%= f.label :"メールアドレス"%><br>
          <%= f.email_field :email, placeholder: "例）〇〇〇〇@gmail.com", class:" w-50" %>
        </div>

        <div class="field">
          <%= f.label :"退会させる"%><br>
          <%= f.select :is_deleted, [["利用中", false],["退会中", true]],  class:" w-50" %>

        </div>



        <div class="actions">
          <%= f.submit "編集内容を保存する", class:"btn btn-success w-100" %>
        </div>

        <div class="actions">
          <%= link_to "ユーザー情報を完全に削除する", admins_customer_path(@customer.id), method: :delete, class:"btn btn-danger w-50", "data-confirm" => "本当に削除しますか？" %>
        </div>









      <% end %>


    </div>
  </div>
</div>