<div class="container">
  <div class="row">
    <div class="col-10 plate">
      <div  class="row">
        <div class="order-new-header">
          <p>以下の内容で取引を成立させます</p>
        </div>
      </div>


      <% if @offer.customer_id == current_customer.id %>
        <div class="offer-detail-wrapper row">

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @offer.offer_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>オファーした商品:</p><br>
                <p><%= @offer.offer_product.name %></p>
              </div>
            </div>
          </div>

          <div class="offer-detail-product-i col-sm-4">
            <i class="fas fa-exchange-alt"></i>
          </div>

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @offer.trade_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>交換する商品:</p><br>
                <p><%= @offer.trade_product.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="offer-detail-wrapper row">

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @offer.offer_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>オファーされた商品:</p><br>
                <p><%= @offer.offer_product.name %></p>
              </div>
            </div>
          </div>

          <div class="offer-detail-product-i col-sm-4">
            <i class="fas fa-exchange-alt"></i>
          </div>

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @offer.trade_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>交換する商品:</p><br>
                <p><%= @offer.trade_product.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>



      <%= form_with model:[@product, @order], local: true do |f| %>
        <%= f.hidden_field :customer_id, value: @offer.customer_id %>
        <%= f.hidden_field :order_product_id, value: @offer.offer_product_id %>
        <%= f.hidden_field :order_trade_product_id, value: @offer.trade_product_id %>
        <%= f.hidden_field :order_status, value: "準備中" %>
        

        <div class="offer-accept-btn">
          <%= f.submit "オファーを承諾します", class: "btn btn-success", "data-confirm" => "オファーを承諾しますか？" %>
        </div>

      <% end %>






    </div>
  </div>
</div>

