<div class="container">
  <div class="row">
    <div class="col-10 plate">
      <% if @order.customer_id == current_customer.id %>
        <div class="offer-detail-wrapper row">

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @order.order_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>オファーした商品:</p><br>
                <p><%= @order.order_product.name %></p>
              </div>
            </div>
          </div>

          <div class="offer-detail-product-i col-sm-4">
            <i class="fas fa-exchange-alt"></i>
          </div>

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @order.order_trade_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>交換する商品:</p><br>
                <p><%= @order.order_trade_product.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="offer-detail-wrapper row">

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @order.order_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>オファーされた商品:</p><br>
                <p><%= @order.order_product.name %></p>
              </div>
            </div>
          </div>

          <div class="offer-detail-product-i col-sm-4">
            <i class="fas fa-exchange-alt"></i>
          </div>

          <div class="offer-detail-product col-sm-4">
            <div class="offer-detail-product-block">
              <div class="offer-detail-product-image-block">
                <%= attachment_image_tag @order.order_trade_product.product_images.first, :image, format: "jpeg", fallback: 'no_image.jpg', class: "offer-detail-product-image" %>
              </div>
              <div class="offer-detail-product-detail">
                <p>交換する商品:</p><br>
                <p><%= @order.order_trade_product.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-12">
          <div class="order-status-wrapper">
            <% if @order.order_status == "準備中" %>

              <h5>商品の準備中です！</h5>
              <p>商品の準備ができたらステータスの変更をしてください！</p>

              <%= form_with model:[@product, @order], url: product_orders_path(@order.order_product.id), local: true , method: :patch do |f| %>
                <%= f.radio_button :order_status, :"準備完了", checked: true %>
                <%= f.submit :"ステータス変更", "data-confirm" => "商品の準備ができましたか？" , class: "btn btn-danger" %>
              <% end %>

            <% elsif @order.order_status == "準備完了" %>

              <h5>商品の準備ができました！</h5>
              <p>取引が完了しましたらステータスを変更して取引を完了してください！</p>

              <%= form_with model:[@product, @order], url: product_orders_path(@order.order_product.id), local: true , method: :patch do |f| %>
                <%= f.radio_button :order_status, :"取引完了" %>
                <%= f.submit "ステータス変更", "data-confirm" => "取引完了しましたか？", class: "btn btn-danger" %>
              <% end %>

            <% elsif @order.order_status == "取引完了" %>

              <h5>取引が完了しました！</h5>
              <p></p>

            <% end %>

          </div>




        </div>
      </div>







    </div>
  </div>
</div>




