<!DOCTYPE html>
<html>
  <head>
    <title>Barters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6d90d7dbcd.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-light" >
        <div class="btn-right-wrapper">
          <% if customer_signed_in? %>
            <%= link_to destroy_customer_session_path, method: :delete, class:"btn-right text-dark" do %>
              <i class="fas fa-sign-out-alt">ログアウト</i>
            <% end %>
            <%= link_to customer_path(current_customer), class:"text-dark btn-right mypage" do %>
              <i class="fas fa-user-circle">マイページ</i>
            <% end %>
          <% else %>
            <%= link_to new_customer_registration_path, class:"text-dark btn-right" do %>
              <i class="fas fa-user-plus">新規登録</i>
            <% end %>
            <%= link_to new_customer_session_path, class:"text-dark btn-right" do %>
              <i class="fas fa-sign-in-alt">ログイン</i>
            <% end %>
          <% end %>
        </div>
        <%= link_to  root_path do %>
          <%= image_tag "logo_transparent.png", size: "100x100", class: "logo_image" %>
        <% end %>


    </header>
    <%= yield %>
  </body>
</html>

<script>
  $('.mypage').hover(function() {

      $('.menu-modal-wrapper').fadeIn();
    },
    function(){
      $('.menu-modal-wrapper').fadeOut();
    }
  );


</script>